

<form [formGroup]="loginForm" (ngSubmit)="login()" class=" max-w-md mx-auto mt-10 mb-10 pt-[4rem] h-[60vh] ">
    <h2 class=" text-red-600 font-semibold text-2xl mb-5">Welcome Back ...</h2>
    @if(apiError){
        <div class=" flex text-center mx-auto  p-3 mb-8 text-sm text-red-600 rounded-lg bg-red-100 mt-1 " role="alert">   
            {{apiError}}
        </div>          
    
    
    }
  

    <div class="relative z-0 w-full mb-5 group">
        @let emailControl = loginForm.get("email") ;
        <input type="email" formControlName="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 appearance-none  focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-600 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-red-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Enter your email</label>
        <app-error-message [nameControl]="emailControl"></app-error-message>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        @let passwordControl = loginForm.get("password") ;
        <input [type]="!toggleInput ? 'password' : 'text'" formControlName="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm pe-[3rem] text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 appearance-none  focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500  duration-600 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-red-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Enter your password</label>

        <span (click)="ontoggle()" class="absolute top-[20%] right-0 cursor-pointer mb-2 me-2 text-sm">
            @if(!toggleInput){
                <i class="fa fa-eye"></i>
            }@else {
                <i class="fa fa-eye-slash"></i>
            }
           

        </span>

        <app-error-message [nameControl]="passwordControl"></app-error-message>

        <p class="mt-3 text-xs underline font-bold text-red-600 carousel"><a routerLink="forget-password" (click)="forgetPassword()" class="carousel">Forget password ? </a></p>
    </div>

  
  
    <button type="submit" class="text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mt-5 text-center ">
         @if(isCallingApi){
            <i class="fa fa-spin fa-spinner"></i>
        }@else {
            Login
        } 
        
       </button>
  </form>
