
<div class="flex flex-wrap mb-10">
    <div class="w-9/12 ">
        <owl-carousel-o [options]="CustomOptions">
            <ng-template carouselSlide><img src="images/slider-product-3.webp" class="w-70 h-[80vh]" alt=""></ng-template>  
            <ng-template carouselSlide><img src="images/slider-product-2.webp" class="w-70 h-[80vh]"alt=""></ng-template>  
            <ng-template carouselSlide><img src="images/slider-product-1.webp"  class="w-70 h-[80vh]"alt=""></ng-template>  
          </owl-carousel-o>
    </div>
    <div class="w-3/12">
        <img src="images/slider-product-5.webp" class="ms-2" alt="">
        <img src="images/slider-product-4.webp" class="ms-2 mt-5 md:mt-1 lg:mt-4" alt="">

    </div>
</div>