<div class="h-[100vh] mt-[8rem]">
    <div class="max-w-lg mx-auto p-10   bg-white shadow-md rounded-lg">
    
        <!-- Stepper -->
        <ol class="flex items-center w-full text-sm font-medium text-center text-gray-500  sm:text-base mt-4 mb-5">
            <li [class.text-blue-600]="currentStep === 1" class="flex md:w-full items-center">
                <span class="flex items-center">
                    <span class="me-3">1</span> Enter Email
                </span>
            </li>
            <li [class.text-blue-600]="currentStep === 2" class="flex md:w-full items-center after:mx-6 xl:after:mx-10">
                <span class="flex items-center">
                    <span class="me-3">2</span> Verify Code
                </span>
            </li>
            <li [class.text-blue-600]="currentStep === 3" class="flex items-center">
                <span class="me-3">3</span> Reset Password
            </li>
        </ol>
    
        <!-- Step 1: Enter Email -->
        @if (currentStep === 1) {
            <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
                <label class="block text-gray-700 ">Email Address</label>
                <input type="email" formControlName="email" class="w-full p-2 border rounded mt-1" />
                <button type="submit" class="w-full mt-5 bg-red-600 text-white py-2 rounded">Send Code</button>
            </form>
        }
    
        <!-- Step 2: Verify Code -->
        @if (currentStep === 2) {
            <form [formGroup]="codeForm" (ngSubmit)="verifyCode()">
                <label class="block text-gray-700 ">Enter Verification Code</label>
                <input type="text" formControlName="resetCode" class="w-full p-2 border rounded mt-1" />
                <button type="submit" class="w-full mt-5 bg-red-600 text-white py-2 rounded">Verify</button>
            </form>
        }
    
        <!-- Step 3: Reset Password -->
        @if (currentStep === 3) {
            <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
                <label class="block text-gray-700 ">email</label>
                <input type="text" formControlName="email" class="w-full p-2 border rounded mt-1" />
                <label class="block text-gray-700 ">New Password</label>
                <input type="newPassword" formControlName="newPassword" class="w-full p-2 border rounded mt-1" />
               
                <button type="submit" class="w-full mt-5 bg-red-600 text-white py-2 rounded">Reset Password</button>
            </form>
        }
    </div>
</div>







