<div class="carousel-title mb-3">
    <p class="font-bold text-xl text-red-600"> Recent products</p>
  </div>

 <div class="">
  <input
  [(ngModel)]="searchTerm"
   type="search" 
  class="block py-2.5 p-3 ps-8 pe-6 mx-auto px-0 w-[50%] mt-4 mb-10 text-sm text-gray-900 bg-transparent border-1 rounded-md  border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder="Search... "  />
 </div>


@if(isloading){
    <div class="flex justify-center items-center mt-10">
        <span class=" text-xl text-red-600"><i class="fa fa-spin fa-spinner"></i></span>
      </div>
}@else {

    <div class="grid md:grid-cols-4 lg:grid-cols-5 gap-4">
        @for (product of products | search:searchTerm; track $index) {
         <app-product-item (fireRemoveWishlist)="removeFromWishlist($event)" (fireAddToWishlist)="addToWishlist($event)" (fireAddToCart)="addToCart($event)" [product]="product" [Wishlist]="wishlist" ></app-product-item>
     }
     
     </div>
     
}

